<h3>
  Round Four (2010 NCAA Men's Basketball Tournament)
</h3>
<div class="region region1">
  <h4 class="region1">
    East
  </h4>
  <div id="match60" class="match m1">
    <p class="slot slot1">
      <span class="seed">{{tournamentRunner.getWinner(49) | team: 'seed'}}</span> {{tournamentRunner.getWinner(49) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">{{tournamentRunner.getWinner(50) | team: 'seed'}}</span> {{tournamentRunner.getWinner(50) | team: 'name'}}
    </p>
  </div>
</div>
<div class="region region2">
  <h4 class="region2">
    West
  </h4>
  <div id="match61" class="match m1">
    <p class="slot slot1">
      <span class="seed">{{tournamentRunner.getWinner(55) | team: 'seed'}}</span> {{tournamentRunner.getWinner(55) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">{{tournamentRunner.getWinner(56) | team: 'seed'}}</span> {{tournamentRunner.getWinner(56) | team: 'name'}}
    </p>
  </div>
</div>
<div class="region region3">
  <h4 class="region3">
    South
  </h4>
  <div id="match59" class="match m1">
    <p class="slot slot1">
      <span class="seed">{{tournamentRunner.getWinner(51) | team: 'seed'}}</span> {{tournamentRunner.getWinner(51) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">{{tournamentRunner.getWinner(52) | team: 'seed'}}</span> {{tournamentRunner.getWinner(52) | team: 'name'}}
    </p>
  </div>
</div>
<div class="region region4">
  <h4 class="region4">
    Midwest
  </h4>
  <div id="match58" class="match m1">
    <p class="slot slot1">
      <span class="seed">{{tournamentRunner.getWinner(53) | team: 'seed'}}</span> {{tournamentRunner.getWinner(53) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">{{tournamentRunner.getWinner(54) | team: 'seed'}}</span> {{tournamentRunner.getWinner(54) | team: 'name'}}
    </p>
  </div>
</div>
