<button class="simulation-button" (click)="runSimulation()">Run Simulation</button>
<h3>
  Round Six (2010 NCAA Men's Basketball Tournament)
</h3>
<div class="region">
  <div id="match64" class="match m1">
    <p class="slot slot1" id="slot127">
      <span class="seed">{{tournamentRunner.getWinner(62) | team: 'seed'}}</span> {{tournamentRunner.getWinner(62) | team: 'name'}}
    </p>
    <p class="slot slot2" id="slot128">
      <span class="seed">{{tournamentRunner.getWinner(63) | team: 'seed'}}</span> {{tournamentRunner.getWinner(63) | team: 'name'}}
    </p>
  </div>
  <div class="champion">
    <strong><span class="seed">{{tournamentRunner.getWinner(64) | team: 'seed'}}</span> {{tournamentRunner.getWinner(64) | team: 'name'}}</strong>
  </div>
</div>
