<button class="simulation-button" (click)="runSimulation()">Run Simulation</button>
<h3>
  Round Five (2010 NCAA Men's Basketball Tournament)
</h3>
<div class="region">
  <div id="match63" class="match m1">
    <p class="slot slot1">
      <span class="seed">{{tournamentRunner.getWinner(58) | team: 'seed'}}</span> {{tournamentRunner.getWinner(58) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">{{tournamentRunner.getWinner(61) | team: 'seed'}}</span> {{tournamentRunner.getWinner(61) | team: 'name'}}
    </p>
  </div>
  <div id="match62" class="match m2">
    <p class="slot slot1">
      <span class="seed">{{tournamentRunner.getWinner(60) | team: 'seed'}}</span> {{tournamentRunner.getWinner(60) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">{{tournamentRunner.getWinner(59) | team: 'seed'}}</span> {{tournamentRunner.getWinner(59) | team: 'name'}}
    </p>
  </div>
</div>
