<h3>
  Round Three (2010 NCAA Men's Basketball Tournament)
</h3>
<div class="region region1">
  <h4 class="region1">
    East
  </h4>
  <div id="match53" class="match m1">
    <p class="slot slot1">
      <span class="seed">{{tournamentRunner.getWinner(3) | team: 'seed'}}</span> {{tournamentRunner.getWinner(3) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">{{tournamentRunner.getWinner(34) | team: 'seed'}}</span> {{tournamentRunner.getWinner(34) | team: 'name'}}
    </p>
  </div>
  <div id="match54" class="match m2">
    <p class="slot slot1">
      <span class="seed">{{tournamentRunner.getWinner(35) | team: 'seed'}}</span> {{tournamentRunner.getWinner(35) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">{{tournamentRunner.getWinner(36) | team: 'seed'}}</span> {{tournamentRunner.getWinner(36) | team: 'name'}}
    </p>
  </div>
</div>
<div class="region region2">
  <h4 class="region2">
    West
  </h4>
  <div id="match55" class="match m1">
    <p class="slot slot1">
      <span class="seed">{{tournamentRunner.getWinner(45) | team: 'seed'}}</span> {{tournamentRunner.getWinner(45) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">{{tournamentRunner.getWinner(46) | team: 'seed'}}</span> {{tournamentRunner.getWinner(46) | team: 'name'}}
    </p>
  </div>
  <div id="match56" class="match m2">
    <p class="slot slot1">
      <span class="seed">{{tournamentRunner.getWinner(47) | team: 'seed'}}</span> {{tournamentRunner.getWinner(47) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">{{tournamentRunner.getWinner(48) | team: 'seed'}}</span> {{tournamentRunner.getWinner(48) | team: 'name'}}
    </p>
  </div>
</div>
<div class="region region3">
  <h4 class="region3">
    South
  </h4>
  <div id="match51" class="match m1">
    <p class="slot slot1">
      <span class="seed">{{tournamentRunner.getWinner(37) | team: 'seed'}}</span> {{tournamentRunner.getWinner(37) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">{{tournamentRunner.getWinner(38) | team: 'seed'}}</span> {{tournamentRunner.getWinner(38) | team: 'name'}}
    </p>
  </div>
  <div id="match52" class="match m2">
    <p class="slot slot1">
      <span class="seed">{{tournamentRunner.getWinner(39) | team: 'seed'}}</span> {{tournamentRunner.getWinner(39) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">{{tournamentRunner.getWinner(40) | team: 'seed'}}</span> {{tournamentRunner.getWinner(40) | team: 'name'}}
    </p>
  </div>
</div>
<div class="region region4">
  <h4 class="region4">
    Midwest
  </h4>
  <div id="match49" class="match m1">
    <p class="slot slot1">
      <span class="seed">{{tournamentRunner.getWinner(41) | team: 'seed'}}</span> {{tournamentRunner.getWinner(41) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">{{tournamentRunner.getWinner(42) | team: 'seed'}}</span> {{tournamentRunner.getWinner(42) | team: 'name'}}
    </p>
  </div>
  <div id="match50" class="match m2">
    <p class="slot slot1">
      <span class="seed">{{tournamentRunner.getWinner(43) | team: 'seed'}}</span> {{tournamentRunner.getWinner(43) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">{{tournamentRunner.getWinner(44) | team: 'seed'}}</span> {{tournamentRunner.getWinner(44) | team: 'name'}}
    </p>
  </div>
</div>
