bracket {
  width: 970px;
  padding-top: 10px;
  margin: 0 30px;
  display: inline-block;
  vertical-align: top;
}

algorithm-box {
  display: inline-block;
  vertical-align: top;
}

winners {
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
}
