<div class="bracket-container">
  <div class="simulation-button">
    <select [(ngModel)]="selectedYear" (ngModelChange)="updateYear()">
      <option [value]="2017">2017</option>
      <option [value]="2018">2018</option>
      <option [value]="2019">2019</option>
      <option [value]="2021">2021</option>
    </select>
    <button (click)="simulateXTimes(simulationNumber)" id="simXButton">Simulate {{simulationNumber}} Time{{simulationNumber === 1 ? "" : "s"}}</button>
    <input class="simulation-number" type="number" [(ngModel)]="simulationNumber" min="1" max="10000">
  </div>

  <bracket-round1 id="round1" class="round"></bracket-round1>
  <bracket-round2 id="round2" class="round"></bracket-round2>
  <bracket-round3 id="round3" class="round"></bracket-round3>
  <bracket-round4 id="round4" class="round"></bracket-round4>
  <bracket-round5 id="round5" class="round"></bracket-round5>
  <bracket-round6 id="round6" class="round"></bracket-round6>
</div>
