<button class="simulation-button" (click)="runSimulation()">Run Simulation</button>
<h3>
  Round One (2012 NCAA Men's Basketball Tournament)
</h3>
<div class="region region1">
  <h4 class="region1 first_region">
    EAST
  </h4>
  <div id="match18" class="match m1">
    <p class="slot slot1">
      <span class="seed">1</span> {{teamsService.getTeam('east', 1) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">16</span> {{teamsService.getTeam('east', 16) | team: 'name'}}
    </p>
  </div>
  <div id="match19" class="match m2">
    <p class="slot slot1">
      <span class="seed">8</span> {{teamsService.getTeam('east', 8) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">9</span> {{teamsService.getTeam('east', 9) | team: 'name'}}
    </p>
  </div>
  <div id="match20" class="match m3">
    <p class="slot slot1">
      <span class="seed">5</span> {{teamsService.getTeam('east', 5) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">12</span> {{teamsService.getTeam('east', 12) | team: 'name'}}
    </p>
  </div>
  <div id="match21" class="match m4">
    <p class="slot slot1">
      <span class="seed">4</span> {{teamsService.getTeam('east', 4) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">13</span> {{teamsService.getTeam('east', 13) | team: 'name'}}
    </p>
  </div>
  <div id="match22" class="match m5">
    <p class="slot slot1">
      <span class="seed">6</span> {{teamsService.getTeam('east', 6) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">11</span> {{teamsService.getTeam('east', 11) | team: 'name'}}
    </p>
  </div>
  <div id="match23" class="match m6">
    <p class="slot slot1">
      <span class="seed">3</span> {{teamsService.getTeam('east', 3) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">14</span> {{teamsService.getTeam('east', 14) | team: 'name'}}
    </p>
  </div>
  <div id="match24" class="match m7">
    <p class="slot slot1">
      <span class="seed">7</span> {{teamsService.getTeam('east', 7) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">10</span> {{teamsService.getTeam('east', 10) | team: 'name'}}
    </p>
  </div>
  <div id="match25" class="match m8">
    <p class="slot slot1">
      <span class="seed">2</span> {{teamsService.getTeam('east', 2) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">15</span> {{teamsService.getTeam('east', 15) | team: 'name'}}
    </p>
  </div>
</div>
<div class="region region2">
  <h4 class="region2 first_region">
    West
  </h4>
  <div id="match26" class="match m1">
    <p class="slot slot1">
      <span class="seed">1</span> {{teamsService.getTeam('west', 1) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">16</span> {{teamsService.getTeam('west', 16) | team: 'name'}}
    </p>
  </div>
  <div id="match27" class="match m2">
    <p class="slot slot1">
      <span class="seed">8</span> {{teamsService.getTeam('west', 8) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">9</span> {{teamsService.getTeam('west', 9) | team: 'name'}}
    </p>
  </div>
  <div id="match28" class="match m3">
    <p class="slot slot1">
      <span class="seed">5</span> {{teamsService.getTeam('west', 5) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">12</span> {{teamsService.getTeam('west', 12) | team: 'name'}}
    </p>
  </div>
  <div id="match29" class="match m4">
    <p class="slot slot1">
      <span class="seed">4</span> {{teamsService.getTeam('west', 4) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">13</span> {{teamsService.getTeam('west', 13) | team: 'name'}}
    </p>
  </div>
  <div id="match30" class="match m5">
    <p class="slot slot1">
      <span class="seed">6</span> {{teamsService.getTeam('west', 6) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">11</span> {{teamsService.getTeam('west', 11) | team: 'name'}}
    </p>
  </div>
  <div id="match31" class="match m6">
    <p class="slot slot1">
      <span class="seed">3</span> {{teamsService.getTeam('west', 3) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">14</span> {{teamsService.getTeam('west', 14) | team: 'name'}}
    </p>
  </div>
  <div id="match32" class="match m7">
    <p class="slot slot1">
      <span class="seed">7</span> {{teamsService.getTeam('west', 7) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">10</span> {{teamsService.getTeam('west', 10) | team: 'name'}}
    </p>
  </div>
  <div id="match33" class="match m8">
    <p class="slot slot1">
      <span class="seed">2</span> {{teamsService.getTeam('west', 2) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">15</span> {{teamsService.getTeam('west', 15) | team: 'name'}}
    </p>
  </div>
</div>
<div class="region region3">
  <h4 class="region3 first_region">
    MIDWEST
  </h4>
  <div id="match65" class="match m1">
    <p class="slot slot1">
      <span class="seed">1</span> {{teamsService.getTeam('midwest', 1) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">16</span> {{teamsService.getTeam('midwest', 16) | team: 'name'}}
    </p>
  </div>
  <div id="match66" class="match m2">
    <p class="slot slot1">
      <span class="seed">8</span> {{teamsService.getTeam('midwest', 8) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">9</span> {{teamsService.getTeam('midwest', 9) | team: 'name'}}
    </p>
  </div>
  <div id="match4" class="match m3">
    <p class="slot slot1">
      <span class="seed">5</span> {{teamsService.getTeam('midwest', 5) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">12</span> {{teamsService.getTeam('midwest', 12) | team: 'name'}}
    </p>
  </div>
  <div id="match5" class="match m4">
    <p class="slot slot1">
      <span class="seed">4</span> {{teamsService.getTeam('midwest', 4) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">13</span> {{teamsService.getTeam('midwest', 13) | team: 'name'}}
    </p>
  </div>
  <div id="match6" class="match m5">
    <p class="slot slot1">
      <span class="seed">6</span> {{teamsService.getTeam('midwest', 6) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">11</span> {{teamsService.getTeam('midwest', 11) | team: 'name'}}
    </p>
  </div>
  <div id="match7" class="match m6">
    <p class="slot slot1">
      <span class="seed">3</span> {{teamsService.getTeam('midwest', 3) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">14</span> {{teamsService.getTeam('midwest', 14) | team: 'name'}}
    </p>
  </div>
  <div id="match8" class="match m7">
    <p class="slot slot1">
      <span class="seed">7</span> {{teamsService.getTeam('midwest', 7) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">10</span> {{teamsService.getTeam('midwest', 10) | team: 'name'}}
    </p>
  </div>
  <div id="match9" class="match m8">
    <p class="slot slot1">
      <span class="seed">2</span> {{teamsService.getTeam('midwest', 2) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">15</span> {{teamsService.getTeam('midwest', 15) | team: 'name'}}
    </p>
  </div>
</div>
<div class="region region4">
  <h4 class="region4 first_region">
    South
  </h4>
  <div id="match10" class="match m1">
    <p class="slot slot1">
      <span class="seed">1</span> {{teamsService.getTeam('south', 1) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">16</span> {{teamsService.getTeam('south', 16) | team: 'name'}}
    </p>
  </div>
  <div id="match11" class="match m2">
    <p class="slot slot1">
      <span class="seed">8</span> {{teamsService.getTeam('south', 8) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">9</span> {{teamsService.getTeam('south', 9) | team: 'name'}}
    </p>
  </div>
  <div id="match12" class="match m3">
    <p class="slot slot1">
      <span class="seed">5</span> {{teamsService.getTeam('south', 5) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">12</span> {{teamsService.getTeam('south', 12) | team: 'name'}}
    </p>
  </div>
  <div id="match13" class="match m4">
    <p class="slot slot1">
      <span class="seed">4</span> {{teamsService.getTeam('south', 4) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">13</span> {{teamsService.getTeam('south', 13) | team: 'name'}}
    </p>
  </div>
  <div id="match14" class="match m5">
    <p class="slot slot1">
      <span class="seed">6</span> {{teamsService.getTeam('south', 6) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">11</span> {{teamsService.getTeam('south', 11) | team: 'name'}}
    </p>
  </div>
  <div id="match15" class="match m6">
    <p class="slot slot1">
      <span class="seed">3</span> {{teamsService.getTeam('south', 3) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">14</span> {{teamsService.getTeam('south', 14) | team: 'name'}}
    </p>
  </div>
  <div id="match16" class="match m7">
    <p class="slot slot1">
      <span class="seed">7</span> {{teamsService.getTeam('south', 7) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">10</span> {{teamsService.getTeam('south', 10) | team: 'name'}}
    </p>
  </div>
  <div id="match17" class="match m8">
    <p class="slot slot1">
      <span class="seed">2</span> {{teamsService.getTeam('south', 2) | team: 'name'}}
    </p>
    <p class="slot slot2">
      <span class="seed">15</span> {{teamsService.getTeam('south', 15) | team: 'name'}}
    </p>
  </div>
</div>
